* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Dancing Script, sans-serif;
}

body {
    background: url(../images/dua-lipa-97-4K.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 30px;
    
}

main {
    position: absolute;
margin-left: 180px;
bottom:100px;
line-height: 1.5;
}
main a {margin-right: 20px;
}

main img:hover {
    transition: transform .2s;
    transform: scale(1.2);
}
main div {
    margin-top: 10px;
}

