* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Dancing Script, sans-serif;
    font-weight: 700;
  
}
/* menu color */
.sidenav a {
    color: black;
  }
  .sidenav a:hover {
    color: white;
  }
  #menu {
    color: black;
  }
/* menu color */


body {
    background: url(../images/merche.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
main {
    width:1200px;
    margin-top: 450px; /*This is a bad solution */
    margin-bottom: 200px;
    margin-left: 50px;
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 30px;
    }
.imagesflex {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* two-sides images code*/
.imageBox {
    position: relative;
    float: left;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: block;
  }

  main a {
      text-decoration: none;
      color: white;
  }
  /* End*/

  main a:hover {
      color: black;
      font-size: 32px;
  }

  .section {
    margin-top:20px;
    margin-bottom: 50px;
    height: 300px;
  }
  
.title {
    margin: 20px 0px 120px 0px;
}

