* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Dancing Script, sans-serif;
    font-weight: 700;
}

/* menu color */
.sidenav a {
  color: white;
}
.sidenav a:hover {
  color: #52b4eb;
}
#menu {
  color: #52b4eb;
}
/* menu color */

body {
    background: url(../images/music.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-size: 20px;
}

#gridcontainer {
  display: grid;
column-gap: 0;
grid-template-columns: 1fr 1fr;
}

.container1, .container3 {
    display: block;
    width: 600px;
    margin-left: 250px;
  
}

.container1, .container2 {
  margin-top: 130px;

} 

.container3, .container4 {
  margin-top: 190px;
  margin-bottom: 110px;

} 

.container2, .container4 {
  display: block;
    width: 600px;
  margin-left: 10px;

}


/* first album css */
.sidenavalbum1 {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    position: relative;
  }
  
  .sidenavalbum1 a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
   
  }
  
  .sidenavalbum1 a:hover {
    color: #52b4eb;;
  }
  
  .sidenavalbum1 .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 50px;
    margin-left: 10px;
  }



  

/* 2 album css */
  .sidenavalbum2 {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    position: relative;
  }
  
  .sidenavalbum2 a {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 30px;
   
  }
  
  .sidenavalbum2 a:hover {
    color: #52b4eb;
  }
  
  .sidenavalbum2 .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 50px;
    margin-left: 10px;
  }



/* 3 album css */
  .sidenavalbum3 {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    position: relative;
  }
  
  .sidenavalbum3 a {
    padding: 35px 15px 15px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 30px;
   
  }
  
  .sidenavalbum3 a:hover {
    color: #52b4eb;
  }
  
  .sidenavalbum3 .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 50px;
    margin-left: 10px;
  }




/* 4 album css */
  .sidenavalbum4 {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    position: relative;
  }
  
  .sidenavalbum4 a {
    padding: 35px 15px 15px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 30px;
   
  }
  
  .sidenavalbum4 a:hover {
    color: #52b4eb;
  }
  
  .sidenavalbum4 .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 50px;
    margin-left: 10px;

  }




  audio { width:180px; }


  .imagesongs {
      display: flex;
      flex-direction: row;
  }

  img {
      display: block;
      border-radius: 50%;
  }

  img:hover {
    border: 5px solid white;
  }


  @media screen and (max-height: 450px) {
    .sidenavalbum1 {padding-top: 15px;}
    .sidenavalbum1 a {font-size: 18px;}
  }